body{
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img,video{
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}

header a:hover{
transition: 0.1s;
transform: scale(1.1);
}

header{
    background: #222;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 100;
    color: white;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.479);
}

.navheader{
    color:white;
}


header img{
    height: 30px;
    filter: invert();
}

.imagehome{
    width: 100%;
    height: auto;
    align-self: flex-start;
    object-fit: cover;
}

.parentimagehome{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    height: 100vh;
    
    background-image: url("../images/image_1.png");
    background-position: center center;
    background-size: cover;
}

.enfantimagehome{
    background-color: rgba(0, 0, 0, 0.493);
    box-sizing: border-box;
    padding: 2rem 3rem;
    position: absolute;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin-bottom: 2rem;
}

.titre1{
    font-weight: 200;
}

.titre2{
    font-weight: 400;
}

.titre3{
    font-weight: 100;
}

@media screen and (min-width: 601px) {
    .titre1 {
      font-size: 70px;
      margin-bottom: -1rem;
    }
    .titre2 {
        font-size: 70px;
    }
    .titre3 {
        font-size: 30px;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;
        margin: auto;
    }
    .logoheader{
        margin-left: 15%;
    }
    .voir{
        display: none;
    }
    .portfoliocol{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 2rem;
        align-items: center;
        justify-content: center;
    }
    .parentcaseportfolio{
        display: flex;
        flex-direction: column;
        width: max(20%,300px);
        padding: 1rem;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .titre1 {
      font-size: 30px;
    }
    .titre2 {
        font-size: 30px;
    }
    .titre3 {
      font-size: 20px;
      margin-top: 0.5rem;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 90px;
    }
    .lienheader{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: auto;
    }
    .logoheader{
        display: flex;
        margin: 0.5rem;    
    }
    .parentcaseportfolio{
        background-color: rgba(0, 0, 0, 0.103);
    }
    .voir{
        background: white;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        color: rgb(125, 145, 255);
        border-radius: 4rem;
        font-weight: 400;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.664);
    }
    .portfoliocol{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 2rem;
        align-items: center;
        justify-content: center;
    }
    .parentcaseportfolio{
        display: flex;
        flex-direction: column;
        width: max(20%, 350px);
        padding: 1rem;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        margin-bottom: 2rem;
    }
}

body{
    background-color: #222;
}

main{
    color: white;
    margin: auto;
    padding: 0;   
    max-width: 70rem;
    padding: 0 0.5rem;
}

h2{
    margin: 3rem 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 400;
}

.filtre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    margin-bottom: 3rem;
}

.filtre li{
    list-style: none;
    background: rgba(75, 124, 155, 0.356);
    border-radius: 2rem;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
}

.filtre li:hover{
    transition: 0.2s;
    background: rgba(104, 160, 196, 0.356);
    transform: scale(1.05);
}

.filtre li.active{
    background-color:rgb(38, 118, 168);
}

.filtre li.active:hover{
    transition: 0.2s;
    background-color:rgb(57, 144, 199);
    transform: scale(1.05);
}

.portfoliocol .parentcaseportfolio{
    position: relative;
}

.titreportfolio{
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
    font-weight: 300;
}

.classportfolio{
    display: flex;
    flex-wrap: wrap;
}

.classportfolio p{
    background-color: rgba(175, 246, 255, 0.247);
    margin: 0 0.5rem;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(185, 185, 185);
    text-transform: uppercase;
}

.portfoliocol a:hover{
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.205);
    transform: scale(1.05);
}

.aproposcol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aproposcol div{
    /*width: max(47%, 400px);*/
    margin: 1rem;
}

.apropostext1{
    font-weight: 300;
    font-size: 2rem;
}

.apropostext2{
    margin-top: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    color: rgb(190, 190, 190);
}

footer{
    margin-top: 3rem;
    background-color: #222;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.479);
    padding-bottom: 10rem;
    padding: 1rem;
    
}

.logofooter{
    width: 60px;
    filter: invert();
    margin: 1rem auto;
    
}

.lienfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: min(80%, 600px);
    margin: auto;
    flex-wrap: wrap;
    
}

.boutonmail{
    color: black;
    font-size: 1.3rem;
}

.boutonmail:hover{
    transition: 0.2s;
    background-color: rgb(75, 125, 155);
    transform: scale(1.05);
}

.imgfooter{
    width: 60px;
    margin-bottom: 1rem;
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 1rem 0;
    margin: 2rem auto;
    border-radius: 2rem;
    width: min(80%, 400px);
}

.boutonmail{
    padding: 1rem;
    margin: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgba(36, 113, 165, 0.514);
    border-radius: 1rem;
}

.lienfooter a:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.lienfooter a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lienfooter a p{
    margin-bottom: 5rem;
}

footer p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
